<% include header %>

<p>
    Welcome, <%= user %>
</p>

<div class="row">
    <div class="col-md">
        <h3>Your containers</h3>
    </div>
    <div class="col-sm text-right">
        <button type="button" class="btn btn-light" onclick="loadContainersList()">Refresh</button>
        <button type="button" class="btn btn-primary" onclick="newContainer()">Add container</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Command</th>
            <th scope="col">State</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody id="container_list">
    </tbody>
</table>

<script type="text/javascript">
    loadContainersList();
</script>

<% include footer %>
