</div>  <!-- div class container -->
</main>  <!-- main role main class flex shrink 0 -->

<footer class="footer font-small mt-auto py-3" style="background-color:gainsboro;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5>Elranet - A Docker Webpanel</h5>
                <p>
                    © <%= new Date().getFullYear() %> <a href="https://github.com/SuperFola">Alexandre Plateau</a>
                </p>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
