<% include header %>

<form action="/login" method="post">
    <input type="text" name="username" required>
    <input type="password" name="password" required>

    <button type="submit">Log in</button>
</form>

<% include footer %>
