<% include header %>

<div class="container text-center" id="form-login">
    <form class="form-signin" action="/login" method="post">
        <img class="mb-4" src="/public/images/logo.png" alt="" width="72" height="72">

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <% if (locals.failed) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Incorrect login or password!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>

        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

        <br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">© <%= new Date().getFullYear() %></p>
    </form>
</div>
